<launch>
  <include file="$(find uvc_camera)/launch/stereo_image_proc.launch" />

  <node name="cmvision" pkg="cmvision" type="cmvision_node" args="image:=stereo/right/image_rect_color" 
        output="screen">
    <param name="color_file" type="string" value="$(find cmvision)/config/colors.txt" />
    <param name="mean_shift_on" value="true" />
    <param name="color_radius_pix" type="double" value="40.0"/>
    <param name="spatial_radius_pix" type="double" value="2.0"/>
    <param name="debug_on" type="bool" value="true"/>
    <param name="cmvision/color_cal_on" type="bool" value="false"/>
    <param name="cmvision/mean_shift_on" type="bool" value="false"/>
    <param name="cmvision/spatial_radius_pix" type="double" value="2.0"/>
    <param name="cmvision/color_radius_pix" type="double" value="40.0"/>
  </node>
</launch>
